* {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #fff;

}

header {
  background-color: #83618C;
  color: #fff;
  padding: 10px;
}

.navbar h1 {
  background-color: #83618C; 
  padding: 10px; 
  margin-left: -50px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  text-align: center; 
  background-color: #83618C;
}


.navbar a {
  background-color: #83618C;
  text-decoration: none;
  color: #22262E;
  padding: 10px 20px;
}

.navbar a:hover {
  background-color: #CFC7D9;
}

.hero {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}

.hero h2 {
  display:inline-block;
  position: absolute;
  top: 300px;
  right: 10px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 25% 50% 25%;
  grid-template-areas: 
  "page-section-about page-section-about"
  "page-section-work page-section-work"
  "page-section-contact page-section-contact"
}

.page-section-about {
  grid-area: page-section-about;
}

.page-section-work {
  grid-area: page-section-work;
}

.page-section-contact {
  grid-area: page-section-contact;
}